server:
  port: 8081

topic:
  name: t.food.order

spring:
  kafka:
    consumer:
      group-id: default

  datasource:
    url: jdbc:h2:mem:broker-project-db
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true
